:root {
--font-sans-serif: "IBM Plex Sans Condensed", sans-serif;
--font-serif: "PT Serif", serif;
--black: #000;
--gray-light: #ebebeb;
--white: #fff;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  
  font-family: "PT serif", serif;
  color: var(--black);
  line-height: 1.667;
  
}

h1,h2,h3 {
  font-family: var(--font-sans-serif);
  margin: 0;
}

h2 {
  color: grey;
  background-color: pink;
  text-align: center;
  max-width: 20%;
  
}
  

.typography-body {
  font-family: "PT Serif", serif;
  color: black
}
a {
  color: var(--black);
  
}

img {
  max-width: 100%;
  display: block;
  text-align: center;

}

.button-style-primary {
  display: inline-block;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  border: 1px solid var(--black);
  border-radius: 2rem;
  background-color: var(--white);
  color: var(--black);
}

.button-style-primary:focus:active {
  background-color: var(--black);
  color: var(--white);
}




.button-style-primary:hover {
  background-color: var(--black);
  color: var(--white);
}

.button-style-secondary {
  display: inline-block;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid var(--black);
  border-radius: 2rem;
  text-decoration: none;
  background-color: var(--white);
  color: var(--black);
}

.button-style-secondary:hover {
  background-color: var(--black);
  color: var(--white);
}

.component {
  margin: 50px;
}
.component img {
    max-width: 50%;
    overflow-x: auto;
}

.cover-container {
  display: grid;
  justify-items: center;
  background-image: url("../components/img/background.png");
  max-width: 50%;
    
}

.component_code--cover {
  text-align: center;
}

.component_code p {
  font-size: 1.25rem;
}

.code_heading--cover {
    font-size: 5em;
    margin: 0
}

.article-container {
  display: grid;
  grid-template-rows: 1fr;
  background-image: url("../components/img/background.png");

}


.article-title {
 max-width: 25%;
  cursor: pointer;
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-weight: bold;
  border: 2px solid black;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  padding: 8px;
  
  overflow-wrap: break-word;
}

.article-title:hover {
  background-color: black;
  color: white;
}

.article-container a {
  text-decoration: none;
}

.article-img {
  cursor: pointer;
  max-width: 50%;
}

.footer-container
{ display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 250px;
 background-image: url("../components/img/background.png");

  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 16px;
}

.footer-credits-container {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2, auto);
  border-top: 1px solid black;
  background-image: url("../components/img/background.png");
 
 
}


.typefaces {
  display: block;
}



