:root {
--font-sans-serif: "IBM Plex Sans Condensed", sans-serif;
--font-serif: "PT Serif", serif;
--black: #000;
--gray-light: #ebebeb;
--white: #fff;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "PT serif", serif;
  color: var(--black);
  line-height: 1.667;
  
}

a {
  color: var(--black);
  text-decoration: none;
  
}

img {
  max-width: 100%;
display: block;
}

.button-style {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid var(--black);
  border-radius: 2rem;
  background-color: transparent;

}


.component img {
    border: 1px solid gray;
    overflow-x: auto;
}

.component_code {
    border: 1px solid gray;
    text-align: center;
    max-width: 700px;
  
     
}

.code_heading {
    font-family: var(--font-sans-serif);
    font-size: 5em;
}

