<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components | Design Beyond Barriers</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lobster&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <h1>Web Components</h1>
    <p>This is a collection of components based on my study of the design system of the <a href="https://designbeyondbarriers.com/">Design Beyond Barriers</a> website.</p>

    
    <h1>Typography Defaults</h1>
    <div class="typography-container">
        <div>
    <h3>IBM Plex Sans Condensed (original: America GrilliType) - h1, h2, h3</p>
    
    <h3 class="typography-body">PT Serif - Body</h2>
</div>
</div>

<article class="component">
    <h2 class="component_name">Cover Section Screenshot:</h2>  
    <div class="component_img">
    <img
     src="img/cover-section.png" 
     alt="cover section" />
    </div>

    <h2> Cover Section Code:</h2>
    <div class="cover-container"> 
    <div class="component_code--cover"> 
    <h1 class="code_heading--cover">Design Beyond Barriers</h1>
    <p>What makes an interface accessible? And how can designers 
    create experiences that work for all users? This guide answers 
    all your burning questions about accessibility—like how to design for everyone, 
    even those juggling a hot coffee and a pet hamster.</p>
    <p>Find your questions in the <a href="!#" class="button-style-primary">chat bubbles</a> or <a href="!#" class="button-style-secondary">categorized list</a></p>
    </div>
    </div>
    </article>

<article class="component">
    <h2 class="component_name">Article Section Screenshot:</h2>
    <div class="component_img">
    <img
     src="img/article-card.png"
     alt="article section"/>
    </div>

    <h2> Article Section Code:</h2>
    </article>
        <div class="article-container">
       <p><a href="https://designbeyondbarriers.com/?articleSlug=what-are-the-most-common-accessibility-failures">What are the most common accessibility failures?</a></p>
        <img src="img/person_dancing_w_headphones.png" class="article-img" alt="person dancing with headphones"/>   
        </div>

<article class="component">
    <h2 class="component_name">Footer Screenshot:</h2>
    <div class="component_img">
    <img
     src="img/footer-section.png"
     alt="about section"/>
    </div>

    <h2> Footer Code:</h2> 
    <div class="footer-container">
    <div>
    <h1>About the project</h1>
    </div>
    <div class="footer-items">
    <p>Design Beyond Barriers is an accessibility 
        guide made by designers, for designers, with a clear goal: 
        to show that accessibility and great design go hand in hand.</p>
    <p>With only 2% of design curriculums covering accessibility, 
        the responsibility often falls to developers. But readable type, 
        intuitive navigation, and thoughtful color choices all begin in design. 
        Yes, developers bring it to life, but designers lay the foundation. 
        It’s time to take ownership of that.
    </p>
    </div>
    </div>
    </article>

<article class="component">
    <h2 class="component_name">Footer Credits Screenshot:</h2>
    <div class="component_img">
    <img
     src="img/footer-credits.png"
     alt="footer credits"/>
    </div>

    <h2> Footer Credits Code:</h2>
    <div class="footer-credits-container">
    <div><h1>Credits</h1></div>
    <div class="footer-credit-items">
    <p>Research, Copy & Design:</p>
    <p>Development:</p>
    <p>Typefaces:</p>
    <p >Last Updated:</p>
    <p>Press & PR:</p>
    </div>

<div class="footer-credit-items">
    <p><a href="https://antonandirene.com/">Anton & Irene</a></p>
    <p><a href="https://astroshock.com">Astroshock</a></p>
    <p>America by GrilliType</p> 
    <p>PT Serif by ParaType</p>
    <p>February 2026</p>
    <p><a href="mailto:hello@antonandirene.com">Contact Us</a></p>
</div>
</div>
    </article>



    


    
</body
</html>